
.search{
    vertical-align: middle;
    width: 35%;
    height: 20px;
    margin-left: 10%;
    margin-bottom:70px ;
}
.cpu{
    padding-top:10% ;
    padding-left:15px ;
    padding-top: 1px;
}
.main{
    border: 1px solid BBCFFF;
    height: 77px;
    width: 99.9% ;
    background-color: rgb( 187, 207, 225);
    position: fixed;
    display: inline-block;
}
.Profile{
    margin-left:33% ;
    margin-bottom:5px ;   
}
.line{
    margin-left: 20%;
}